<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/navbar.css">
    <%# icons %>
    <script src = "https://kit.fontawesome.com/7b8f0589f8.js"></script>
</head>
<body> 
    <% function signOut() { %>
        <% loggedin = false %>
    <% } %>          
    <div class="navbar">
        <div class="search-box">
            <a href="/"><img src="/images/logo.jpg" class="logo" alt="logo"></a>
            <input type="text" class="search-bar" placeholder="   Search...">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div class="menu-bar">
            <ul>
                <li><a href="/products">Products</a></li>
                <li><a href="/basket"><i class="fa-solid fa-cart-shopping"></i>Basket</a></li>
                <li onclick='signOut()' class="sign out"><a href="/">Sign Out</a></li>
            </ul>
    </div>
</body>
</html>